fastapi==0.115.12
alembic==1.15.2
sqlalchemy==2.0.40
asyncpg==0.30.0
gunicorn==23.0.0
uvicorn==0.34.2
pydantic-settings==2.9.1
pydantic==2.11.4
prometheus-client==0.22.0
prometheus-fastapi-instrumentator==7.1.0
python-dotenv==1.1.0
dotenv==0.9.9
starlette==0.46.2
PyJWT==2.10.1
requests==2.32.3
cryptography==45.0.3