fastapi==0.115.12
alembic==1.15.2
pydantic[email]==2.11.4
sqlalchemy==2.0.41
asyncpg==0.30.0
gunicorn==23.0.0
uvicorn==0.34.2
argon2-cffi==23.1.0
pydantic-settings==2.9.1
dotenv==0.9.9
python-dotenv==1.1.0
aiosmtplib==4.0.1
prometheus-fastapi-instrumentator==7.1.0
starlette==0.46.2
PyJWT==2.10.1
cryptography==45.0.3
anyio==4.9.0